body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

    
.pnf 
{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  text-align: center;
  color: purple;
  text-shadow: 0 2px 5px purple;
}

